<form (ngSubmit)="saveConfig()" class="mt-3" [formGroup]="form">
  <mat-form-field appearance="outline" class="d-block">
    <mat-label>Keycloak URL</mat-label>
    <input matInput placeholder="http://localhost:8080/auth" formControlName="url">
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block">
    <mat-label>Realm</mat-label>
    <input matInput placeholder="myrealm" formControlName="realm">
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block">
    <mat-label>Client</mat-label>
    <input matInput placeholder="myclient" formControlName="clientId">
  </mat-form-field>
  <button mat-raised-button color="primary">Save</button>
</form>
